 /* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}
.jumbotron{
	text-align: center;
	background-image: url('../images/newyork.jpg');
	color: white;
}
.btn-lg{
	font-size: 24px;
}
ul.nav {
	font-size: 16px;
	font-family: 'Slabo 27px', serif;
}

.mainTitle{
	font-size: 20px;
	font-family: 'Slabo 27px', serif;
}

.jumbotron h1{
	font-family: 'Nixie One', cursive;
	border: 5px solid;
	

}
.jumbotron p{
	font-weight: 100;
	padding: .5px;
}

